.sign-up{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    background: #fff;
    margin: 2rem auto;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.sign-up label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .sign-up input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
  }

.sign-up button {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 1px solid #008ae0;
    background-color: #008ae0;
    color: white;
    border-radius: 8px;
    margin-right: 1rem;
  }


